p {
  font-family: roboto, arial;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(246, 246, 246);
  height: calc(100% - 60px);
}
body {
  font-family: Roboto, arial;

  padding: 5em 1.5em 1em 6em;
}
@media (max-width: 650px) {
  body {
    padding: 4.5em 1em 1em 1em;
  }
}
* {
  box-sizing: border-box;
}
